:root {
  --color-fg: initial;
  --color-bg: initial;
}

.dark-theme {
  --color-bg: #131516;
  --color-fg: #d8d4cf;
  font-weight: 300;
}

.dark-theme b {
  font-weight: 500;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--color-fg);
  background-color: var(--color-bg);
  --font-icon-size: 1em;
  --font-icon-y-adjustment: 0.2em;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 100%;
}

a, a:visited {
  color: #03719C;
  text-decoration: none;
}

ul {
  padding-left: 1em;
}

.font-color-dim, .font-color-dim * {
  color: rgb(128, 128, 128);
}

a.linked-header, a.linked-header:visited {
  color: var(--color-fg);
}

.dark-theme .linked-header hr {
  background-color: #605e5c;
  border: none;
  height: 1px;
}

.linked-header {
  display: block;
  margin-top: 2em;
}

.job-title {
  font-weight: 300;
}

#outer-body {
  display: flex;
  justify-content: center;
}

#picture-of-me {
  max-width: 100%;
  float: right;
  margin: 0 0 0.5em 0.5em;

  /* on mobile: smaller picture, portrait */
  width: 135px;
  height: 150px;
  object-fit: cover;
  object-position: right;
}

#contact {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 90%;
  flex-wrap: wrap;
}

#contact > a {
  display: flex;
  align-items: center;
}

/* Add divider between each contact link */
#contact > a:not(:last-child):after {
  margin-left: 0.5em;
  color: #605e5c;
  content: '|';
}

#contact img {
  display: inline;
  --contact-icon-size: 1em;
  width: var(--contact-icon-size);
  height: var(--contact-icon-size);
  margin-right: 0.2em;
}

.dark-theme #contact img {
  filter: invert(60%);
}

.github-icon:after {
  content: '';
  display: inline-block;
  background-image: url(assets/feather/github.svg);
  background-size: var(--font-icon-size), var(--font-icon-size);
  width: var(--font-icon-size);
  height: var(--font-icon-size);;
  position: relative;
  top: var(--font-icon-y-adjustment);
}

.dark-theme .github-icon:after {
  filter: invert(80%);
}

#nv-outer {
  width: 100%;
  height: 400px;
}

#nv-caption {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  #inner-body {
    width: 800px;
  }

  #picture-of-me {
    /* on desktop: do not crop image */
    width: initial;
    height: initial;
    object-fit: initial;
    object-position: initial;
  }

  .linked-header {
    --link-icon-size: 0.9em;
    --link-icon-gap: 0.3em;
  }

  .linked-header > :first-child {
    display: flex;
    align-items: center;
    gap: var(--link-icon-gap);
    position: relative;
    right: calc(var(--link-icon-size) + var(--link-icon-gap));
  }

  .linked-header > :first-child:before {
    background-image: url(assets/feather/link.svg);
    content: '';
    display: block;
    background-size: var(--link-icon-size), var(--link-icon-size);
    width: var(--link-icon-size);
    height: var(--link-icon-size);;
    filter: invert(40%);
  }

  .linked-header > :first-child:hover:before {
    filter: invert(50%);
  }
}
